table {
    border: #000 solid 1px;
    border-collapse: collapse;

    th, td {
        border: #000 solid 1px;
        padding: 5px;
    }

    img {
        height: 80px;
    }
}

.open-in-slider {
    transition: 0.5s;

    &:hover {
        color: #fff;
        background: #000;
    }
}

.create-new-btn {
    max-width: fit-content;
    padding: 5px 10px;
    border: #000 solid 1px;
    border-radius: 5px;

    &:hover {
        background: #000;
        color: #fff;
        transition: 0.5s;
    }

    margin: 10px 0;
}